In [6]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

Part 1: In this part of the assignment you will extend the database you created in Assignment One by adding the following tables to it: course, prereq, advisor, and classroom. You must refer to the schema diagram shown in slide 29 of Lecture 3 which is posted in the Google Drive with the lecture notes. This diagram specifies the attributes (fields) of each of these tables, as well as the primary key (which may be composite), and the foreign key references. Your database should implement these fields, constraints, and relations. 

Please think also of which fields cannot be null and which fields must be unique. Please implement these constraints as well. (These are not represented in the schema diagram.)

In doing this part you may create the tables using any method you find convenient: the DBMS GUI or Python code or the command line interface (CLI).

In [1]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Yankejing020711"   #REPLACE THIS WITH THE PASSWORD YOU SET
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x1051c4c50>
CONNECTION SUCCESSFUL

In [3]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Yankejing020711", #REPLACE THIS WITH YOUR PASSWORD 
  database = "data1050f24" #connecting to testDatabase
)

#redo table
mycursor = mydb.cursor()

mycursor.execute("DROP TABLE IF EXISTS course, prereq, advisor, classroom;")

In [5]:
#create course
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE data1050F24.course ("
                    "course_id     varchar(128),"
                    "title         varchar(255),"
                    "dept_name     varchar(128) NOT NULL,"
                    "credits       numeric(2,1),"
                    "PRIMARY KEY (course_id),"
                    "FOREIGN KEY (dept_name) REFERENCES department (dept_name) ON UPDATE CASCADE)"
                 )

In [7]:
#create prereq, advisor, classroom
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE data1050F24.prereq ("
                    "course_id     varchar(128),"
                    "prereq_id     varchar(128),"
                    "PRIMARY KEY (course_id, prereq_id),"
                    "FOREIGN KEY (course_id) REFERENCES course (course_id) ON UPDATE CASCADE,"
                    "FOREIGN KEY (prereq_id) REFERENCES course (course_id) ON UPDATE CASCADE)"
                 )

In [9]:
#create advisor, classroom
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE data1050F24.advisor ("
                    "s_id     varchar(128),"
                    "i_id     varchar(128) NOT NULL,"
                    "PRIMARY KEY (s_id),"
                    "FOREIGN KEY (i_id) REFERENCES instructor (ID) ON UPDATE CASCADE,"
                    "FOREIGN KEY (s_id) REFERENCES student (ID) ON UPDATE CASCADE)"
                 )

In [11]:
#create classroom
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE data1050F24.classroom ("
                    "building    varchar(255),"
                    "room_no     varchar(255),"
                    "capacity    bigint,"
                    "PRIMARY KEY (building, room_no))"
                 )

In [13]:
#connect to a specific database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Yankejing020711", #REPLACE THIS WITH YOUR PASSWORD 
  database = "data1050f24" #connecting to testDatabase
)

# check if all tables created
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('advisor',)
('classroom',)
('course',)
('coursetitle',)
('data1050list',)
('department',)
('instructor',)
('prereq',)
('starttime',)
('student',)

Part 2: For this part you will populate the tables you created in Part 1 using the data in the files course.csv, prereq.csv, advisor.csv, and classroom.csv. Naturally, the data in course.csv should be used to populate course table, and so on. These files are posted in Files/data folder on the Canvas site. You may insert this data one by one (using the GUI or CLI or Python script), but I strongly urge you to use a (Python) loop in the manner shown in the code that was supplied for Assignment One. (Suggestion to the first-year DSI students: the sooner you start getting comfortable with Python, the better. Many of the courses in the DSI curriculum require you to code in Python.)

In [15]:
import pandas as pd

In [22]:
pip install fsspec

Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (2024.6.1)
Note: you may need to restart the kernel to use updated packages.

In [17]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("~/Desktop/DATA1050/data/course.csv")

for i,row in data.iterrows():
            sql = "INSERT INTO course VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [19]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("~/Desktop/DATA1050/data/prereq.csv")

for i,row in data.iterrows():
            sql = "INSERT INTO prereq VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [21]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("~/Desktop/DATA1050/data/advisor.csv")

for i,row in data.iterrows():
            sql = "INSERT INTO advisor VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [23]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("~/Desktop/DATA1050/data/classroom.csv")

for i,row in data.iterrows():
            sql = "INSERT INTO classroom VALUES (%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted