In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Yankejing020711"   #REPLACE THIS WITH THE PASSWORD YOU SET
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x1119b10d0>
CONNECTION SUCCESSFUL

In [25]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Yankejing020711", #REPLACE THIS WITH YOUR PASSWORD 
  database = "data1050f24" #connecting to testDatabase
)

In [5]:
#redo table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS time_slot, section, teaches, takes;")

time_slot, section, teaches, and takes

In [27]:
mycursor = mydb.cursor()

mycursor.execute(
    """
    CREATE TABLE data1050F24.time_slot(
    time_slot_id    bigint NOT NULL,
    day             varchar(128) CHECK (
        day IN ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')),
    start_time      time,
    end_time        time,
    PRIMARY KEY (time_slot_id))
    """
)

ProgrammingError: 1050 (42S01): Table 'time_slot' already exists

In [29]:
mycursor = mydb.cursor()

mycursor.execute(
    """
    CREATE TABLE data1050F24.section(
    course_id       varchar(128) NOT NULL,
    sec_id          varchar(128) NOT NULL,
    semester        varchar(128) NOT NULL,
    year            bigint NOT NULL,
    building        varchar(255),
    room_no         varchar(255),
    time_slot_id    bigint,
    PRIMARY KEY (course_id, sec_id, semester, year),
    FOREIGN KEY (building, room_no) REFERENCES classroom (building, room_no) ON UPDATE CASCADE,
    FOREIGN KEY (time_slot_id) REFERENCES time_slot (time_slot_id) ON UPDATE CASCADE,
    CHECK(semester IN ('Fall','Spring','Summer','Winter')))
    """
)

ProgrammingError: 1050 (42S01): Table 'section' already exists

In [31]:
mycursor.execute(
    """
    CREATE TABLE data1050F24.teaches(
    ID              varchar(128),
    course_id       varchar(128),
    sec_id          varchar(128),
    semester        varchar(128),
    year            bigint,
    PRIMARY KEY (ID, course_id, sec_id, semester, year),
    FOREIGN KEY (ID) REFERENCES instructor (ID) ON UPDATE CASCADE,
    FOREIGN KEY (course_id, sec_id, semester, year) REFERENCES section (course_id, sec_id, semester, year) ON UPDATE CASCADE
    )
    """
)

ProgrammingError: 1050 (42S01): Table 'teaches' already exists

In [33]:
mycursor.execute(
    """
    CREATE TABLE data1050F24.takes(
    ID              varchar(128),
    course_id       varchar(128),
    sec_id          varchar(128),
    semester        varchar(128),
    year            bigint,
    grade           varchar(10),
    PRIMARY KEY (ID, course_id, sec_id, semester, year),
    FOREIGN KEY (course_id, sec_id, semester, year) REFERENCES section (course_id, sec_id, semester, year) ON UPDATE CASCADE,
    FOREIGN KEY (ID) REFERENCES student (ID) ON UPDATE CASCADE
    )
    """
)

ProgrammingError: 1050 (42S01): Table 'takes' already exists

insert data time_slot, section, teaches, and takes

In [24]:
pip install numpy

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pandas as pd
import numpy as np

In [28]:
pip install fsspec

Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (2024.6.1)
Note: you may need to restart the kernel to use updated packages.

In [37]:
data = pd.read_csv("~/Desktop/DATA1050/data/time_slot.csv")

for i,row in data.iterrows():
            sql = "INSERT INTO data1050F24.time_slot VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            #print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'time_slot.PRIMARY'

In [39]:
query = "SELECT * from time_slot"
mycursor.execute(query)
for x in mycursor:
    print(x)

(1, 'Monday', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=39600))
(2, 'Monday', datetime.timedelta(seconds=39600), datetime.timedelta(seconds=3600))
(3, 'Monday', datetime.timedelta(seconds=3600), datetime.timedelta(seconds=10800))
(4, 'Monday', datetime.timedelta(seconds=10800), datetime.timedelta(seconds=18000))
(5, 'Tuesday', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=39600))
(6, 'Tuesday', datetime.timedelta(seconds=39600), datetime.timedelta(seconds=3600))
(7, 'Tuesday', datetime.timedelta(seconds=3600), datetime.timedelta(seconds=10800))
(8, 'Wednesday', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=39600))
(9, 'Wednesday', datetime.timedelta(seconds=39600), datetime.timedelta(seconds=3600))
(10, 'Wednesday', datetime.timedelta(seconds=3600), datetime.timedelta(seconds=10800))
(11, 'Wednesday', datetime.timedelta(seconds=10800), datetime.timedelta(seconds=18000))
(12, 'Thursday', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=39600))
(13, 'Thursday', datetime.timedelta(seconds=39600), datetime.timedelta(seconds=3600))
(14, 'Thursday', datetime.timedelta(seconds=3600), datetime.timedelta(seconds=10800))
(15, 'Friday', datetime.timedelta(seconds=32400), datetime.timedelta(seconds=39600))
(16, 'Friday', datetime.timedelta(seconds=39600), datetime.timedelta(seconds=3600))
(17, 'Friday', datetime.timedelta(seconds=3600), datetime.timedelta(seconds=10800))
(18, 'Friday', datetime.timedelta(seconds=10800), datetime.timedelta(seconds=18000))

In [41]:
data = pd.read_csv("~/Desktop/DATA1050/data/section.csv", dtype = str)
data = data.replace({np.nan: None})

for i,row in data.iterrows():
            sql = "INSERT INTO section VALUES (%s,%s,%s,%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            #print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [43]:
query = "SELECT * from section"
mycursor.execute(query)
for x in mycursor:
    print(x)

('APMA1650', '1', 'Spring', 2023, 'Sayles', '128', 3)
('CSCI1270', '1', 'Fall', 2023, 'CIT', '312', 6)
('CSCI1270', '2', 'Fall', 2023, None, None, 6)
('Data1030', '1', 'Fall', 2022, 'Franklin', '212', 6)
('Data1030', '1', 'Fall', 2023, 'Franklin', '212', 6)
('Data1050', '1', 'Fall', 2022, 'CIT', '404', 3)
('Data1050', '1', 'Fall', 2023, 'Franklin', '212', 8)
('Data1450', '1', 'Spring', 2024, None, None, None)
('Data2050', '1', 'Fall', 2023, None, None, None)
('Data2050', '1', 'Spring', 2023, None, None, None)
('Data2050', '1', 'Summer', 2023, None, None, None)
('Econ2180', '1', 'Spring', 2023, 'Skinner', '140', 7)
('Psyc2134', '1', 'Fall', 2023, 'Angell', '405', 6)
('Soc1872O', '1', 'Spring', 2023, 'Sayles', '128', 5)

In [45]:
data = pd.read_csv("~/Desktop/DATA1050/data/teaches.csv")
data = data.replace({np.nan: None})

for i,row in data.iterrows():
            sql = "INSERT INTO teaches VALUES (%s,%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            # print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [47]:
query = "SELECT * from teaches"
mycursor.execute(query)
for x in mycursor:
    print(x)

('113', 'APMA1650', '1', 'Spring', 2023)
('112', 'CSCI1270', '1', 'Fall', 2023)
('118', 'CSCI1270', '2', 'Fall', 2023)
('117', 'Data1030', '1', 'Fall', 2023)
('117', 'Data1050', '1', 'Fall', 2022)
('111', 'Data1050', '1', 'Fall', 2023)
('111', 'Data2050', '1', 'Fall', 2023)
('117', 'Data2050', '1', 'Spring', 2023)
('111', 'Data2050', '1', 'Summer', 2023)
('115', 'Psyc2134', '1', 'Fall', 2023)
('119', 'Psyc2134', '1', 'Fall', 2023)

In [49]:
data = pd.read_csv("~/Desktop/DATA1050/data/takes.csv")
data = data.replace({np.nan: None})

for i,row in data.iterrows():
            sql = "INSERT INTO takes VALUES (%s,%s,%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            #print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [51]:
query = "SELECT * from takes"
mycursor.execute(query)
for x in mycursor:
    print(x)

('1122', 'CSCI1270', '2', 'Fall', 2023, None)
('1122', 'Data1050', '1', 'Fall', 2023, None)
('1238', 'CSCI1270', '1', 'Fall', 2023, None)
('1238', 'Data1030', '1', 'Fall', 2023, None)
('1238', 'Data1050', '1', 'Fall', 2022, 'A')
('1333', 'APMA1650', '1', 'Spring', 2023, 'B')
('1333', 'CSCI1270', '1', 'Fall', 2023, None)
('1333', 'Data1030', '1', 'Fall', 2022, 'A')
('1333', 'Data1050', '1', 'Fall', 2022, 'A')
('1333', 'Data2050', '1', 'Fall', 2023, None)
('1845', 'CSCI1270', '2', 'Fall', 2023, None)
('1845', 'Data1050', '1', 'Fall', 2023, None)
('1888', 'CSCI1270', '1', 'Fall', 2023, None)
('1888', 'Data1050', '1', 'Fall', 2023, None)
('1934', 'Data1050', '1', 'Fall', 2023, None)
('1970', 'Data1050', '1', 'Fall', 2023, None)
('1999', 'CSCI1270', '1', 'Fall', 2023, None)
('1999', 'Data1050', '1', 'Fall', 2023, None)
('2142', 'CSCI1270', '1', 'Fall', 2023, None)
('2142', 'Data1050', '1', 'Fall', 2023, None)
('2143', 'Data1050', '1', 'Fall', 2023, None)
('2946', 'Data1050', '1', 'Fall', 2023, None)
('3303', 'Data1050', '1', 'Fall', 2023, None)

Part 3: Write a SQL query to find the id and names of all DSI students taking Data 1050 in Fall, 2023.

In [47]:
query="DROP VIEW IF EXISTS data1050list;"
mycursor=mydb.cursor()
mycursor.execute(query)

In [49]:
mycursor = mydb.cursor()
mycursor.execute(
    '''
    CREATE VIEW data1050list AS
    SELECT ID
    FROM takes
    WHERE course_id = 'Data1050' AND semester = 'Fall' AND year = 2023;
    '''
)

In [51]:

mycursor.execute(
    '''
    SELECT S.ID, S.name
    FROM student AS S, data1050list AS T
    WHERE T.ID = S.ID AND S.dept_name = 'DSI';
    '''
)

In [53]:
# fetch all the rows from the result of the query
result = mycursor.fetchall()

# print
for row in result:
    print(row)

('1845', 'Jane Chen')
('2142', 'Sabrina Zhou')